<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sign in</title>

<link rel="stylesheet" href="/static/css/sign.css">
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<a href="/">
    <img src="/static/images/logo.png" class="img">
</a>

<div class="center">

<h1>Sign in</h1>

<form action="/signin" method="POST">

<label>E-mail</label><br>

<input
name="email"
type="email"
placeholder="Please enter your email"
required>

<br>

<label>Password</label><br>

<input
name="password"
type="password"
placeholder="Please enter your password"
required>

<br>

<div class="btn_div">

<button id="btn" type="submit">
Login
</button>

<div class="singup_link">

<h3>
Not a member?
</h3>

<a href="/signup">
sign up here
</a>

</div>

</div>

</form>

</div>

</body>

</html>